; 请妥善保管您的配置
registry=https://harbortekdev-npm.pkg.coding.net/helm/npm/
always-auth=true
//harbortekdev-npm.pkg.coding.net/helm/npm/:username=npm-1713333327204
//harbortekdev-npm.pkg.coding.net/helm/npm/:_password=ODEwZDMzNGE3YjVmYWQ4Mzk3ZTFjZmE2NWE2YzVhMDc5N2Q0ZDNhOQ
//harbortekdev-npm.pkg.coding.net/helm/npm/:email=gezhuoyun@harbortek.com